/* Barra de navegacion */

header {
  backdrop-filter: blur(40px);
}

.navbar {
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
}
.navbar .container-fluid a img {
  height: 3rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.quitar-padding {
  padding: 0;
}

@media screen and (max-width: 767px) {
  .navbar-collapse {
    padding-top: 1rem;
  }
  .navbar {
    padding: 1rem;
    max-width: 100%;
  }
  header .navbar .container-fluid .navbar-toggler .menu-icono {
    color: white !important;
    font-size: 2rem;
  }
}

/* Presentacion Section 1*/

body {
  background-image: url(/src/assets/fondo-gral/fernando-hernandez-HIEXClDGQ5s-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
}
.section1 {
  max-width: 70%;
  margin: 0 auto;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  margin-top: 2rem;
}
.img-perfil {
  width: 100%;
  border-radius: 50%;
}
.div-img {
  max-width: 20rem;
  padding: 1rem;
}

.info-perfil > * {
  padding: 1rem;
  color: white;
}

.titulo-principal {
  font-size: 3rem;
}
.parrafo1 {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .section1 {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
  }
  .titulo-principal {
    font-size: 2.5rem;
  }
  .parrafo1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .titulo-principal {
    font-size: 2rem;
  }
  .parrafo1 {
    font-size: 1rem;
  }
}

/* Presentacion Section 2 */

.section2 {
  max-width: 70%;
  margin: 0 auto;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  margin-top: 2rem;
}

.section2 > * {
  padding: 1rem;
  color: white;
}

.img-relleno {
  width: 100%;
}
.div-img2 {
  max-width: 20rem;
  min-width: 15rem;
  padding: 1rem;
}

.titulo-sec {
  font-size: 2.5rem;
}

.parrafo2 {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .section2 {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
  }
  .titulo-sec {
    font-size: 2rem;
  }

  .parrafo2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 700px) {
  .titulo-sec {
    font-size: 1.5rem;
  }

  .parrafo2 {
    font-size: 1rem;
  }
}

/* Experiencia */

.exp-section {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}

.exp-section > * {
  padding: 1rem;
  color: white;
}

.div-titulo {
  display: inline-block;
}
.titulo-exp {
  display: inline-block;
  border-radius: 10px;
  backdrop-filter: blur(40px);
  padding: 1rem;
}

.card {
  background-color: transparent;
  border: 1px solid black;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  backdrop-filter: blur(40px);
}

.img-exp {
  width: 100%;
}
.div-img-exp {
  max-width: 15rem;
  min-width: 10rem;
  padding: 1rem;
}

@media screen and (max-width: 1100px) {
  .exp-section {
    max-width: 90%;
  }
}

/* Educacion  */

.section4 {
  max-width: 70%;
  margin: 0 auto;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  margin-top: 2rem;
}

.section4 > * {
  padding: 1rem;
}

.list-group {
  width: 100%;
}
.div-titulo-ed {
  display: inline-block;
  color: white;
}
.titulo-ed {
  display: inline-block;
  border-radius: 10px;
  backdrop-filter: blur(40px);
}

.section4 * {
  background-color: transparent;
  color: white;
}

@media screen and (max-width: 1100px) {
  .section4 {
    max-width: 90%;
  }
}

/* Graficos de progresos  */

.section5 {
  max-width: 70%;
  margin: 0 auto;
  backdrop-filter: blur(40px);
  border-radius: 30px;
  margin-top: 2rem;
}

.section5 > * {
  padding: 1rem;
}

.section5 * {
  background-color: transparent;
  color: white;
}

.medidor-1 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: conic-gradient(aqua 0% 50%, black 50%);
}
.medidor-2 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: conic-gradient(aqua 0% 60%, black 60%);
}
.medidor-3 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: conic-gradient(aqua 0% 40%, black 40%);
}
.medidor-4 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: conic-gradient(aqua 0% 20%, black 20%);
}
.medidor-5 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-image: conic-gradient(aqua 0% 80%, black 80%);
}

.card-progreso {
  min-width: 5rem;
  min-height: 5rem;
  padding: 1rem;
}
.text-medidor {
  background-color: black;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

@media screen and (max-width: 1100px) {
  .section5 {
    max-width: 90%;
  }
}

/* Proyectos */

.section6 {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 2rem;
}

.section6 > * {
  padding: 1rem;
  color: white;
}

.section6 .card {
  background-color: transparent;
  border: 1px solid black;
  backdrop-filter: blur(40px);
}

a:link,
a:visited,
a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 1100px) {
  .section6 {
    max-width: 90%;
    flex-direction: column;
    align-items: center;
  }
}

/* Las demas propiedades de esta seccion se comparten con la otra cuadrilla de tarjetas*/

/* Footer */

.section7 {
  backdrop-filter: blur(40px);
  margin-top: 2rem;
}

.pie {
  max-width: 50%;
  margin: 0 auto;
  padding-top: 2rem;
}

.tit-footer {
  font-size: 2rem;
}
.icono-tamaño {
  font-size: 4rem;
}

@media screen and (max-width: 1100px) {
  .pie {
    max-width: 70%;
  }
  .tit-footer {
    font-size: 1.3rem;
  }
  .icono-tamaño {
    font-size: 3rem;
  }
}

@media screen and (max-width: 700px) {
  .pie {
    max-width: 90%;
  }
}

/* Login */

.div-login {
  margin-top: 2rem;
}

.formulario {
  color: white;
  backdrop-filter: blur(40px);
  max-width: 40%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  border: 1px solid black;
}
.img-login {
  width: 60%;
  padding-bottom: 2rem;
}
@media screen and (max-width: 900px) {
  .formulario {
    max-width: 80%;
    border-radius: 20px;
  }
}
@media screen and (max-width: 500px) {
  .img-login {
    width: 90%;
    padding-bottom: 1rem;
  }
}
